# Nutridrive analysis

- Python is a very popular programming language
- There are a lot of libraries (e.g., think of them as plugins for a language)
- The main plugin you will use is called [Pandas](https://pandas.pydata.org/)
- It was [invented by someone working in Capital Management](https://en.wikipedia.org/wiki/Pandas_(software)#History)
- [Run through a super fast 10 min tutorial first](https://pandas.pydata.org/docs/user_guide/10min.html)
- [Get some inspiration for Optimization problems here](https://www.youtube.com/watch?v=ufYtueq2DCw)

In [10]:
# we import pandas <- this is a comment 
import pandas as pd # <- this is code

In [11]:
# load data into pandas dataframe 
df = pd.read_csv("data/data.csv", delimiter=";")

In [12]:
# look at head of the data 
df.head()

,ID,Meal,Restaurant,Type,Cal,P,C,F,Like Trigger,Reg,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1.0,Protein Box,Chilango,Lunch / Dinner,480,50,16,20,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Rice Hot Box + chicken,Chilango,Lunch / Dinner,495,"39,9","61,1","10,7",1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Chicken & Black Beans Burrito,Chilango,Lunch / Dinner,606,41,73,38,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Naked Burrito (grilled chicken & guac),Chilango,Lunch / Dinner,475,34,35,22,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Super Eggs + Smoked Salmon,Pure,Breakfast,279,"24,4","1,8","19,2",1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# check some stats about the restaurant column
df.Restaurant.value_counts()

Abokado      118
Pod           26
Pret          22
Starbucks     12
Pure          11
Chilango       4
Name: Restaurant, dtype: int64

In [14]:
# ... sky is the limit